

  
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li   class="menu-item active"   >
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/dashboard">View Dashboard</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/viewProducts">Product List</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/viewUser">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/viewUser">Users list </a>
                       
                    </div>
                </li>
              
              
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/viewOrders">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">View Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/ordersList">Orders</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/category">Category</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupons">Coupons List</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/offer">Offers List</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/weaklyReport">
                        <i class="icon material-icons md-post_add"></i>
                        <span class="text">Report</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/weaklyReport">weakly Report</a>
                        <a href="/admin/monthlyReport">Monthly Report</a>
                        <a href="/admin/yearlyReport">Yearly Report</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/logout">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
               
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title"></h2>
                    
                </div>
               
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-7">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <form   >
                                    <h2 class="content-title text-center text-primary">Add New Offer</h2>
                                    <div class="col-md-12">
                                       <div class="row gx-3">
                                          <div class="col-md-4 mb-4">
                                                <label for="product_sku" id="titleLabel" class="form-label">Offer Title</label>
                                                <input id="title" type="text" placeholder="Type here" name="title" class="form-control" />                                      
                                          </div>
                                          <div class="col-md-4 mb-4">
                                            <label  for="product_sku" id="offerIteamLabel" class="form-label">Offer Itme</label>
                                            <select class="form-control"  id="offerIteam" onchange="handleChange()">
                                                <option value="Select Offer item..." disabled>Select Offer item...</option>
                                                <option value="Category">Category</option>
                                                <option value="Products" selected >Products</option>
                                            </select>                  
                                          </div>
                                         
                                          <div class="col-md-4 mb-">
                                            <label for="product_sku" id="iteamNameLabel" class="form-label">Iteam Name </label>
                                               <select class="form-control"  id="iteamName" >
                                                  <option value="Select Offer item..." selected disabled>Select Offer item...</option>
                                                <%
                                                  items.forEach((itm,index) => {
                                                     %>
                                                        <option value="<%=itm.name%>"><%=itm.name%></option>
                                                     <%
                                                  });
                                                %>
                                              </select>    
                                           </div>
                                    
                                        </div>
                                        <hr class="mb-4 mt-0">
                                        <div class="row gx-2">
                                          <div class="col-md-6 mb-6">
                                                <label for="product_sku" id="dateLabel" class="form-label">Validity Date</label>
                                                <input type="date" id="date" name="date" class="form-control" />                                      
                                          </div>
                                         
                                          <div class="col-md-6 mb-6">
                                                <label for="product_sku" id="offerPriceLabel" class="form-label">Offer Price</label>
                                               <input type="number"  id="offerPrice" placeholder="Type here" name="offerPrice" class="form-control"  />
                                          </div>
                                        </div>                        
                                    </div> <!-- col.// -->
                                    
                                    <hr class="mb-4 mt-0">
                                    <button type="button" onclick="handleSubmition()" class="btn btn-primary w-100">Add Offer</button>
                            </form>     
                          </div> <!-- row.// -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
        function remove(id){
            
        }
    </script>
    <script>
        function handleSubmition() {
             const offerTitle = document.getElementById("title").value.trim();
             const offerIteam = document.getElementById("offerIteam").value.trim();
             const iteamName = document.getElementById("iteamName").value.trim();
             const date = document.getElementById("date").value.trim();
             const offerPrice = document.getElementById("offerPrice").value.trim();

             const titleLabel = document.getElementById("titleLabel");
             const offerIteamLabel = document.getElementById("offerIteamLabel");
             const iteamNameLabel = document.getElementById("iteamNameLabel");
             const dateLabel = document.getElementById("dateLabel");
             const offerPriceLabel = document.getElementById("offerPriceLabel");
             let error = false;
             if(offerTitle.length == 0){
               titleLabel.style.color="red"
               error = true;
             }else{
                 titleLabel.style.color=""
             }
             if(offerIteam.length == 0 ){
               offerIteamLabel.style.color="red";
               error = true;
             }else{
                 offerIteamLabel.style.color=""
             }
             if(iteamName.length == 0 || iteamName == "Select Offer item..."){
               iteamNameLabel.style.color="red";
               error = true;
             }else{
                 iteamNameLabel.style.color=""
             }
             if(date.length == 0){
               dateLabel.style.color="red";
               error = true;
             }else{
                 dateLabel.style.color=""
             }
             if(offerPrice.length == 0){
               offerPriceLabel.style.color="red";
               error = true;
             }else{
                 offerPriceLabel.style.color=""
             }
             if(error){
                return;
             }
         
            fetch("/admin/addOffer",{method:"POST",body:JSON.stringify({offerTitle,date,iteamName,offerPrice}),headers:{"Content-Type":"application/json"}}).then((res)=>res.json())
            .then((res)=>{

                if(res.success){
                    Swal.fire({
                        title:"Success!.",
                        text: res.message,
                        icon: "success",
                    });
                    window.location.href="/admin/offer"
                }else{
                    Swal.fire({
                            title:"Failed!.",
                            text: res.message,
                            icon: "warning",
                    });
                }
            })
        }

        
    </script>
    <script>
        function handleChange() {
            const offerIteam = document.getElementById("offerIteam").value.trim();
            const iteamName = document.getElementById("iteamName")
            console.log("hu",offerIteam);
            fetch(`/admin/selectOffer?item=${offerIteam}`).then((res)=>res.json())
            .then((res)=>{
                iteamName.innerHTML = `
                    <option value="Select Offer item..." selected disabled>Select Offer item...</option>
                    ${res.data.map(element => `
                        <option value="${element.name}">${element.name}</option>
                    `).join('')}
                 `
            });
        }
    </script>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>

</html>