
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <main>
            <header class="main-header style-2 navbar">
                <div class="col-brand">
                    <a href="index.html" class="brand-wrap">
                        <img src="assets/images/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                    </a>
                </div>
                <div class="col-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets/images/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assets/images/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assets/images/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets/images/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main mt-80 mb-80">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Add User</h4>
                        <form >
                           
                            <div class="mb-3">
                                <label id="emailLabel" class="form-label">Enter Email</label>
                                <input id="email" class="form-control" name="email" required  />
                                
                            </div>
                            <div class="mb-3">
                                <label id="nameLabel" class="form-label">Enter Name</label>
                                <input id="name" class="form-control" name="name" required />
                              
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label id="mobileLabel" class="form-label">Enter Phone</label>
                                <div class="row gx-2">
                                    <div class="col-4"><input class="form-control" disabled value="+91" /></div>
                                    <div class="col-8"><input  id="mobile" class="form-control" name="mobile" required   /></div>
                                </div>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label id="passwordLabel" class="form-label">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required />
                              
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <p class="small text-center text-muted">By signing up, you confirm that you’ve read and accepted our User Notice and Privacy Policy.</p>
                            </div>
                            <!-- form-group  .// -->
                           
                                
                                
                            <div class="mb-4 d-flex gap-2">
                                <button type="button" onclick="handleClick(this)" class="btn btn-primary w-50">Add User</button>
                               <a href="/admin/viewUser" class="btn btn-primary w-50">Back</button></a>
                            </div>
                            <!-- form-group// -->
                        </form>
                       
                    </div>
                </div>
            </section>
            <footer class="main-footer text-center">
                <p class="font-xs">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Nest - HTML Ecommerce Template .
                </p>
                <p class="font-xs mb-30">All rights reserved</p>
            </footer>
        </main>
        <script>
            function handleClick(button) {
                const email = document.getElementById("email").value.trim();
                const emailLabel = document.getElementById("emailLabel");
                const name = document.getElementById("name").value.trim();
                const nameLabel = document.getElementById("nameLabel");
                const password = document.getElementById("password").value.trim();
                const passwordLabel = document.getElementById("passwordLabel");
                const mobile = document.getElementById("mobile").value.trim();
                const Labelmobile = document.getElementById("mobileLabel");
    
                if(email.length == 0){
                    emailLabel.style.color = "red";
                }else{
                    emailLabel.style.color = "";
                }
                if(name.length == 0){
                    nameLabel.style.color = "red";
                }else{
                    nameLabel.style.color = "";
                }
                if(mobile.length == 0){
                    mobileLabel.style.color = "red";
                }else{
                    mobileLabel.style.color = "";
                }
                if(password.length == 0){
                    passwordLabel.style.color = "red";
                }else{
                    passwordLabel.style.color = "";
                }

                if(!email || !name || !password || !mobile){
                        Swal.fire({
                            title:"Login Failed!.",
                            text: "Please fill all the fields!.",
                            icon: "warning",
                            draggable: true
                        });
                   return;
                }

                button.disabled=true
                button.innerHTML= `<div class="spinner-border spinner-border-sm me-2" role="status">
                                    </div>
                                    Loading...
                                    `;
                
                fetch("/admin/addUser",{method:"POST",body:JSON.stringify({email,password,name,mobile}),headers:{"Content-Type":"application/json"}}).then((res)=>res.json())
                .then((res)=>{
                   
                    if(res.success){
                        Swal.fire({
                            title:"User Added Successfull!.",
                            text: res.message,
                            icon: "success",
                            draggable: true
                        });
                        window.location.href="/admin/viewUser";
                        return;
                    }else{
                        button.disabled=false;
                       button.innerText= `Add User`;
                        if(res.field == 'email'){
                           emailLabel.style.color = "red";
                        }else{
                                emailLabel.style.color = "";
                        }
                        if(res.field == 'name'){
                                nameLabel.style.color = "red";
                        }else{
                                nameLabel.style.color = "";
                        }
                        if(res.field == 'mobile'){
                                mobileLabel.style.color = "red";
                        }else{
                                mobileLabel.style.color = "";
                        }
                        if(res.field == 'password'){
                                passwordLabel.style.color = "red";
                        }else{
                                passwordLabel.style.color = "";
                        }
                         Swal.fire({
                            title:"Failed!.",
                            text: res.message,
                            icon: "warning",
                            draggable: true
                        });
                    }
                })
            }
        </script>
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
