
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>OTP Verification Form</title>
    <link rel="stylesheet" href="assets/css/otp.css">
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
  </head>
  <body>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <form >
        
        <div class="input-field">
          <input id="number1" type="number" name="num1" />
          <input id="number2" type="number" name="num2"  disabled />
          <input id="number3" type="number"  name="num3" disabled />
          <input id="number4" type="number" name="num4"  disabled />
          <%if(email){%><input type="hidden" name="<%=email%>" value="<%= email %>" disabled><%}%>
          
        </div>
         <p id="error" class="error"></p>
        <button onclick="handleClick('<%=email%>')" type="button" class="btn btn-outline-primary">
          <span>SIGN UP</span>
        <i class="icon-long-arrow-right"></i>
        </button>
       
        

        
      </form>
         <p>The OTP exipre in <span id="expire">60</span>s</p>
         <%if(email){%> <button id="disable" onclick="resend('<%=email%>')" class="btn btn-danger"><%}%>
       
        <span>resend</span>
        <i class="icon-long-arrow-right"></i>
      </button>
     
     
    </div>
  
    <script>
      // timer

      const disable = document.getElementById("disable");
      disable.disabled=true;
      const expire = document.getElementById('expire');
      expire.innerText=60;
      const expireInterval = setInterval(function(){
        expire.innerText--;
        if(expire.innerText==0){
          clearInterval(expireInterval);
          disable.disabled=false
        }
      },1000)

      // resend otp
      function resend(email){
        fetch(`/resend?email=${email}`);
      }

      // handle submit

      async function handleClick(email){
        const otp = document.getElementById("number1").value+document.getElementById("number2").value+document.getElementById("number3").value+document.getElementById("number4").value;
        const response = await  fetch("/otp",{method:"post",
        headers:
         {
          "Content-Type": "application/json"
         },
        body:JSON.stringify({otp,email})});

        const res = await response.json();
        console.log(res);
        if(res.success){
          window.location.href="/home"
        }else{
          const error = document.getElementById("error")
          error.style.display= "block"
          error.textContent = res.message
        }
      
      }

    </script>
    <script src="assets/js/otp.js" defer></script>
  </body>
</html>
